{{input class="add-image-input" type="text" value=model.caption placeholder="Caption"}}
{{input class="add-image-input" type="text" value=model.url placeholder="URL"}}
<button class="add-image-btn" {{action 'save'}}>Save</button>

