{{input class='basic-input' label="Email" type="email" value=email placeholder='Email'}}
{{input class='basic-input' label="Password" type="password" value=pasword placeholder='Password'}}
<button class="sign-in-button">Log In</button>
