<div class="add-image-bar"><span class="add-image-button" {{action 'addImage'}}><span class="add-symbol">+</span></span><span class="center">A Basic Ember App</span></div>
<div class="container">


{{outlet}}
</div>
