<div class="top-button">
{{#link-to 'users.create-portal'}}
  <button class="sign-in-button">Sign up with email</button>
{{/link-to}}
</div>

<div>
{{#link-to 'sessions.create-portal'}}
  <button class="sign-in-button">Log In</button>
{{/link-to}}
</div>
{{outlet}}
